header{
    justify-content: space-evenly;
}

.headerNav{
    padding: 0;
    margin-bottom: 1rem;
}
.headerNav h2{
    margin:0;
}

.headerContent{
    display: flex;
    flex-direction: column-reverse;
    color: white;
    margin:1rem;
}

li.accueil {
 display: none;
}

.left h1{
    margin:0;
    font-size: 2.5rem;
}
.left h2{
    font-size: 1rem;
    margin: 0;
}

.button{
    width: 235px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/* QUI */

#qui .who-content-text h2{
    margin: 1.5rem;
}
#qui .who-content-text p{
    margin: 2rem;
}


/* tarif  */

.tarif-list{
    display:flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}


.who-content-text {
    padding: 0;
}